:root {
    --nav-link-color: #4d660f;
    --white: #ffffff;
    --nav-font: 'Libre Baskerville', serif;
    --nav-shadow : 2px 2px 3px rgba(77, 73, 73, 0.1) ;
    --nav-opacity : 0.8;
    --nav-logo-opacity: 0.9;
    --nav-font-size: 20px;
}

.nav-bar-floating-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.nav-bar-floating-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.nav-bar-floating-logo-container { 
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 2px 1px 2px;

}

.nav-bar-floating-content-btn-container {
    display: none;
}

.nav-bar-floating-logo {
    width: 250px;
    height: 125px;
    opacity: var(--nav-logo-opacity);
}

.nav-bar-floating-content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    

}
.nav-bar-floating-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.nav-bar-floating-content-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    padding-inline-start: 25px;
    padding-bottom: 10px;

    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: #a4aa93;
    box-shadow: 0 1px solid rgba(143, 139, 139, 0.25);
}

.nav-bar-floating-content-list-item {
    text-decoration: none;
    list-style: none;
    padding: 1px 20px 1px 2px;
    width: 100%;
    margin-bottom: 1;
}

.nav-bar-floating-content-list-item:hover,
.nav-bar-floating-content-list-item:focus {
    box-shadow: 0.2em 0.5em 0.5em -0.4em #303f09;
    transform: translateY(-0.25em);
    transition: 10ms;
} 



.nav-bar-floating-content-list-item-title {
    text-transform: uppercase;
    font-family: var(--nav-font);
    color: var(--nav-link-color);
    text-shadow: var(--nav-shadow);
    opacity: var(--nav-opacity);
    margin-bottom: 0;
    font-size: var(--nav-font-size);
}

.nav-bar-floating-content-list-item-link:hover {
    color: #c4d890;
}

.nav-bar-floating-content-list-item-link {
    text-decoration: none;
    color: var(--nav-link-color);
}

.nav-bar-floating-content-list-item-link:visited {
    text-transform: uppercase;
    text-decoration: none;

}

.nav-bar-floating-content-list-toggle{
    display: none;
}

@media (max-width: 1560px) {
    .nav-bar-floating-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #b5b1b1;
    }
    .nav-bar-floating-logo-container { 
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 1px 20px 1px 2px;
    }
    .nav-bar-floating-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        border-radius: none;
        backdrop-filter: none;
        background-color: none;
        box-shadow: none;
        border: none;
    }
    .nav-bar-floating-content-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
        position: absolute;
        left:0;
        top: 70px;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: all .45s;

    }

    .nav-bar-floating-content-btn-container{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding: 1px 5% 1px 1px;

    }
    .nav-bar-floating-content-list-toggle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .nav-bar-floating-content-list-toggle.open{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 80px;
        
    }

    .nav-bar-floating-content-list.open {
        transform: translateX(0);
        background-color: #bfc3bf;
    }
    
    .nav-bar-floating-content-list-item {
        text-decoration: none;
        list-style: none;
        padding: 1px 10px 1px 2px;
        width: 100%;
        
    }

    .nav-bar-floating-content-list-item::before {
        background: transparent;
    }

    .bar {
        position: relative;
        width: 32px;
        height: 2px;
        background: #3b3939;
        transition: all 0.45s ease-in-out;
      }
    .bar::before,
    .bar::after {
        content: "";
        position: absolute;
        height: 2px;
        background: #393737;
        border-radius: 2px;
        transition: all 0.45s ease-in-out;
      }
    .bar::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0;
      }

    .bar::after {
        width: 32px;
        transform: translateY(8px);
      }
    .nav-bar-floating-content-list-toggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .nav-bar-floating-content-list-toggle.open .bar::after {
        transform: rotate(-45deg) translate(26px, 26px);
      }
    




}


{/*
                            <li className='nav-bar-floating-content-list-item'>
                            <h1 className='nav-bar-floating-content-list-item-title'>
                                <NavLink to='/' className='nav-bar-floating-content-list-item-link'>
                                    HOME
                                </NavLink>
                            </h1>
                        </li>
                        <li className='nav-bar-floating-content-list-item'>
                            <h1 className='nav-bar-floating-content-list-item-title'>
                                <NavLink to='/about' className='nav-bar-floating-content-list-item-link'>
                                    ABOUT
                                </NavLink>
                            </h1>
                        </li>
                        <li className='nav-bar-floating-content-list-item'>
                            <h1 className='nav-bar-floating-content-list-item-title'>
                                <NavLink to='/services' className='nav-bar-floating-content-list-item-link'>
                                    SERVICES
                                </NavLink>
                            </h1>
                        </li>
                        <li className='nav-bar-floating-content-list-item'>
                            <h1 className='nav-bar-floating-content-list-item-title'>
                                <NavLink to='/programs' className='nav-bar-floating-content-list-item-link'>
                                    PROGRAMS
                                </NavLink>
                            </h1>
                        </li>
                        <li className='nav-bar-floating-content-list-item'>
                            <h1 className='nav-bar-floating-content-list-item-title'>
                                <NavLink to='/construction' className='nav-bar-floating-content-list-item-link'>
                                    CONSTRUCTION
                                </NavLink>
                            </h1>
                        </li>
                        <li className='nav-bar-floating-content-list-item'>
                            <h1 className='nav-bar-floating-content-list-item-title'>
                                <NavLink to='/contact' className='nav-bar-floating-content-list-item-link'>
                                    CONTACT
                                </NavLink>
                            </h1>
                        </li>
                        <li className='nav-bar-floating-content-list-item'>
                            <h1 className='nav-bar-floating-content-list-item-title'>
                                <NavLink to='/donate' className='nav-bar-floating-content-list-item-link'>
                                    DONATE
                                </NavLink>
                            </h1>
                        </li>




                                            <div className='nav-bar-floating-content-btn-container'>
                        <button className='nav-bar-floating-content-btn' onClick={toggleMenu}>
                            <img src='/images/icons/img-menu-icon.svg' className='nav-bar-floating-content-btn-icon' alt='menu' />
                        </button>
                    </div>




                    <div className='nav-bar-floating-content-list-toggle'>
                        <button className='nav-bar-floating-content-list-toggle-button' onClick={() => setMenuOpen(!menuOpen)}>
                            <img src='/images/icons/img-menu-icon.svg' className='nav-bar-floating-content-btn-icon' alt='menu' />
                        </button>
                        <ul className='nav-bar-floating-content-list-mobile'>
                            {Object.entries(links).map(([key, value]) => (
                                <li className='nav-bar-floating-content-list-item-mobile'>
                                    <h1 key={key} className='nav-bar-floating-content-list-item-title-mobile'>
                                        <NavLink  to={`${value}`} className='nav-bar-floating-content-list-item-link-mobile'>
                                            {key}
                                        </NavLink>
                                    </h1></li>
                            ))} 
                        </ul>
                    </div>










    */}