
.nav-bar-img {
    width: 250px;
    height: 125;
    filter: brightness(30%);
}
.nav-bar-app-bar {
    padding: 0%;
    background-image: linear-gradient(180deg, #4e372e,#92644e );
    border-radius: 10px;
}

.nav-bar-tool-bar {
    width: 800px;
    padding: 1% 1% 1%;
    background-image: linear-gradient(180deg, #5a4137,#7e5846 );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-stack {
    padding: 1% 1% 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #1f2805;
    font-weight: 900;
    text-shadow: 0 4px 4px #1e3a2740; 

}

.nav-bar-stack-btn {
    padding: 1% 1% 1%;

}


@media (max-width: 600px) {
    
}