



.services-content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.services-content-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
.services-content-quran-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    background-color:rgb(172, 255, 156);
    background:
        radial-gradient(at 9% 7%, rgb(194, 233, 199) 0px, transparent 50%),
        radial-gradient(at 80% 4%, rgb(206, 241, 211) 0px, transparent 50%),
        radial-gradient(at 42% 48%, rgb(223, 243, 226) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(195, 233, 200) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(201, 224, 203) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(203, 228, 206) 0px, transparent 50%),
        radial-gradient(at 64% 52%, rgb(199, 224, 202) 0px, transparent 50%);

}
.services-content-counseling-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0px 10px 10px;
    background-color:rgb(172, 255, 156);
    background:
        radial-gradient(at 9% 7%, rgb(194, 233, 199) 0px, transparent 50%),
        radial-gradient(at 80% 4%, rgb(206, 241, 211) 0px, transparent 50%),
        radial-gradient(at 42% 48%, rgb(223, 243, 226) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(195, 233, 200) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(201, 224, 203) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(203, 228, 206) 0px, transparent 50%),
        radial-gradient(at 64% 52%, rgb(199, 224, 202) 0px, transparent 50%);
}
.services-content-nikkah-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0px 10px 10px;
    background-color:rgb(172, 255, 156);
    background:
        radial-gradient(at 9% 7%, rgb(194, 233, 199) 0px, transparent 50%),
        radial-gradient(at 80% 4%, rgb(206, 241, 211) 0px, transparent 50%),
        radial-gradient(at 42% 48%, rgb(223, 243, 226) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(195, 233, 200) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(201, 224, 203) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(203, 228, 206) 0px, transparent 50%),
        radial-gradient(at 64% 52%, rgb(199, 224, 202) 0px, transparent 50%);

}
.services-content-revert-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0px 10px 10px;
    background-color:rgb(172, 255, 156);
    background:
        radial-gradient(at 9% 7%, rgb(194, 233, 199) 0px, transparent 50%),
        radial-gradient(at 80% 4%, rgb(206, 241, 211) 0px, transparent 50%),
        radial-gradient(at 42% 48%, rgb(223, 243, 226) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(195, 233, 200) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(201, 224, 203) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(203, 228, 206) 0px, transparent 50%),
        radial-gradient(at 64% 52%, rgb(199, 224, 202) 0px, transparent 50%);

}
.services-content-zakat-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0px 10px 10px;
    background-color:rgb(172, 255, 156);
    background:
        radial-gradient(at 9% 7%, rgb(194, 233, 199) 0px, transparent 50%),
        radial-gradient(at 80% 4%, rgb(206, 241, 211) 0px, transparent 50%),
        radial-gradient(at 42% 48%, rgb(223, 243, 226) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(195, 233, 200) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(201, 224, 203) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(203, 228, 206) 0px, transparent 50%),
        radial-gradient(at 64% 52%, rgb(199, 224, 202) 0px, transparent 50%);

}
.services-content-funeral-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 0px 10px 10px;
    background-color:rgb(172, 255, 156);
    background:
        radial-gradient(at 9% 7%, rgb(194, 233, 199) 0px, transparent 50%),
        radial-gradient(at 80% 4%, rgb(206, 241, 211) 0px, transparent 50%),
        radial-gradient(at 42% 48%, rgb(223, 243, 226) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(195, 233, 200) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(201, 224, 203) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(203, 228, 206) 0px, transparent 50%),
        radial-gradient(at 64% 52%, rgb(199, 224, 202) 0px, transparent 50%);

}

.services-content-quran-content {
    

}
.services-content-quran-content {

}
.services-content-quran-content {

}
.services-content-quran-content {

}
.services-content-quran-content {

}